.cardroom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__items{
        // display: flex;
        // width: max-content;
        margin: 0px 5px;

        &:first-child{
            margin-left: 0px;
        }

        &:last-child{
            margin-right: 0px;
        }
    }
}