@font-face {
    font-family: 'MADE Outer Sans bold';
    src: local('MADE Outer Sans bold'), url('../fonts/MADE-Outer-Sans-Bold-PERSONAL-USE.otf') format('opentype');
}

@font-face {
    font-family: 'MADE Outer Sans lighter';
    src: local('MADE Outer Sans lighter'), url('../fonts/MADE-Outer-Sans-Light-PERSONAL-USE.otf') format('opentype');
}