mixin navLinks(item)
    li
        a.header__nav-link(href="#")= item

header.header
    nav.header__nav
        .header__nav-burger-btn-wrap
            button.header__nav-burger-btn
        ul.header__nav-list
            +navLinks('Rooms')
            +navLinks('Booking')
            +navLinks('Contacts')

    .header__logo
        a.header__logo-link(href="index.html")
            include logo.svg
    .header__right
        a.header__right-link(href="tel:+436606050000")|+43 660 605 0000
        a(href="#").header__right-shopingbag
            include shoping-bag.svg
            .header__right-shopingbag-redring-wrap
                include red-ring.svg
                span.header__right-shopingbag-span|2
        .header__right-lang
            span.header__right-lang-de|DE
            span.header__right-lang-en|EN